/* Estilos básicos para el slider */
.slider {
  overflow: hidden;
  max-width: 85%;
  margin: auto;
  position: relative;
}

/* Gradiente de desvanecimiento en los lados */
.slider::before, .slider::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  width: 10%;
  z-index: 1;
  pointer-events: none; /* Permite clics a través del gradiente */
}

.slider::before {
  left: 0;
  background: linear-gradient(to right, rgb(106, 117, 218,), (),#045c9c, #e277fd, black);
}

.slider::after {
  right: 0;
  background: linear-gradient(to left, rgb(106, 117, 218), (),#045c9c, #e277fd, black);
}

.slider-track {
  display: flex;
  width: 800%; /* Ancho ajustado para las imágenes */
  animation: scroll 25s linear infinite;
}

.slider-item {
  flex: 0 0 12.5%;
  position: relative;
  transition: opacity 0.5s ease; /* Transición suave de opacidad */
}

.slider-item img {
  display: block;
  width: 5%;
  height: auto; /* Ajusta la altura automáticamente */
}

@keyframes scroll {
  0% { transform: translateX(0); }
  100% { transform: translateX(-50%); }
}

/* Añadir transición de desvanecimiento */
.slider-item {
  opacity: 1;
}

.slider-item:last-child {
  opacity: 0; /* Desaparece el último elemento */
}
