<header>
    <div class="w-full bg-center bg-cover h-96" style="background-image: url(/portada.avif);">
        <div class="flex items-center justify-center w-full h-full bg-gray-900 bg-opacity-50">
            <div class="text-center">
                <h1 class="text-2xl font-semibold text-white uppercase lg:text-3xl">Metodología fácil y ágil para diseñar una estrategia competitiva</h1>
                <button class="w-full px-4 py-2 mt-4 text-sm font-medium text-white uppercase transition-colors duration-200 transform bg-blue-600 rounded-md lg:w-auto hover:bg-blue-500 focus:outline-none focus:bg-blue-500">Inicia tu test</button>
            </div>
        </div>
    </div>
</header>

<div class="container mx-auto px-4">
  <main class="mt-0">
<div class="flex flex-wrap md:flex-no-wrap space-x-0 md:space-x-6 mb-16">

  <section>
    <div class="bg-transparent text-white py-8">
    <div class="container mx-auto flex flex-col items-start md:flex-row my-12 md:my-24">
      <div class="flex flex-col w-full sticky md:top-36 lg:w-1/3 mt-2 md:mt-12 px-8">
        <p class="ml-2 text-yellow-300 uppercase tracking-loose">Estra Mi Pyme</p>
        <p class="text-3xl md:text-4xl leading-normal md:leading-relaxed mb-2"> Etapas del diagnóstico</p>
        <p class="text-sm md:text-base text-gray-50 mb-4">
            El diagnóstico de Estramipyme, creado en 2019, incluye explorar, conocer, analizar e integrar. Mejorado hasta febrero de 2023 para evaluar tendencias, identificar riesgos y oportunidades, y analizar capacidades internas.
        </p>
        <a routerLink="/register"
        class="bg-transparent mr-auto hover:bg-yellow-300 text-yellow-300 hover:text-white rounded shadow hover:shadow-lg py-2 px-4 border border-yellow-300 hover:border-transparent">
        Explora ahora</a>
      </div>
      <div class="ml-0 md:ml-12 lg:w-2/3 sticky">
        <div class="container mx-auto w-full h-full">
          <div class="relative wrap overflow-hidden p-10 h-full">
            <div class="border-2-2 border-yellow-555 absolute h-full border"
              style="right: 50%; border: 2px solid #FFC100; border-radius: 1%;"></div>
            <div class="border-2-2 border-yellow-555 absolute h-full border"
              style="left: 50%; border: 2px solid #FFC100; border-radius: 1%;"></div>
            <div class="mb-8 flex justify-between flex-row-reverse items-center w-full left-timeline">
              <div class="order-1 w-5/12"></div>
              <div class="order-1 w-5/12 px-1 py-4 text-right">
                <p class="mb-3 text-base text-yellow-300">Enero, 2019</p>
                <h4 class="mb-3 font-bold text-lg md:text-2xl">Explorar</h4>
                <p class="text-sm md:text-base leading-snug text-gray-50 text-opacity-100">
                    Reconocer los datos y características más importantes del negocio e investigar en internet sobre las tendencias mundiales que puedan afectar el negocio en el futuro.
                </p>
              </div>
            </div>
            <div class="mb-8 flex justify-between items-center w-full right-timeline">
              <div class="order-1 w-5/12"></div>
              <div class="order-1  w-5/12 px-1 py-4 text-left">
                <p class="mb-3 text-base text-yellow-300">Mar, 2021</p>
                <h4 class="mb-3 font-bold text-lg md:text-2xl">Integrar</h4>
                <p class="text-sm md:text-base leading-snug text-gray-50 text-opacity-100">
                    Aplicar las cuatro herramientas de estrategia
                    sugeridas para tener una visión integral
                    del negocio.
                </p>
              </div>
            </div>
            <div class="mb-8 flex justify-between flex-row-reverse items-center w-full left-timeline">
              <div class="order-1 w-5/12"></div>
              <div class="order-1 w-5/12 px-1 py-4 text-right">
                <p class="mb-3 text-base text-yellow-300"> Feb, 2023</p>
                <h4 class="mb-3 font-bold text-lg md:text-2xl">Analizar</h4>
                <p class="text-sm md:text-base leading-snug text-gray-50 text-opacity-100">
                    Identificar los riesgos y oportunidades que ofrecen las tendencias mundiales y el sector analizado; priorizar el principal riesgo y la principal oportunidad.
                </p>
              </div>
            </div>
            <div class="mb-8 flex justify-between items-center w-full right-timeline">
              <div class="order-1 w-5/12"></div>
              <div class="order-1  w-5/12 px-1 py-4">
                <p class="mb-3 text-base text-yellow-300">Feb, 2023</p>
                <h4 class="mb-3 font-bold  text-lg md:text-2xl text-left">Conocer</h4>
                <p class="text-sm md:text-base leading-snug text-gray-50 text-opacity-100">
                    Conversar con personas que conozcan del negocio y del sector.
                </p>
              </div>
            </div>
          </div>
          <img class="mx-auto -mt-36 md:-mt-36" src="https://user-images.githubusercontent.com/54521023/116968861-ef21a000-acd2-11eb-95ac-a34b5b490265.png" />
        </div>
      </div>
    </div>
  </div>
  </section>
  <div class="mb-4 lg:mb-0  p-4 lg:p-0 w-full md:w-4/7 relative rounded block">
    <video class="w-full shadow-8 py-8" loop controls muted>
      <source
        src="/estrategia (1080p) (1).mp4"
        type="video/mp4" />
    </video>
  </div> 
</div>
</main>
</div>