<body class="bg-gray-900 min-h-screen flex flex-col items-center justify-center">
    <div class="box-content rounded-lg border-slate-700 mb-4">
        <h1 class="text-white uppercase text-6xl font-serif pb-1 py-1">Etapas del diagnóstico</h1>
    </div>
    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-4 p-4 w-full max-w-screen-xl">
        <div class="box-content shadow-xl border-indigo-600 border-2">
            <h2 class="text-white uppercase text-3xl font-serif pb-1 py-1 text-center">Explorar</h2>
            <p class="text-white text-lg font-sans pb-1 py-1">Reconocer los datos y características más importantes del negocio e investigar en internet sobre las tendencias mundiales que puedan afectar el negocio en el futuro.</p>
        </div>
        <div class="box-content shadow-xl ">
            <h2 class="text-white uppercase text-3xl font-serif pb-1 py-1 text-center ">Conocer</h2>
            <p class="text-white text-lg font-sans pb-1 py-1">Conversar con personas que conozcan del negocio y del sector.</p>
        </div>
        <div class="box-content shadow-xl">
            <h2 class="text-white uppercase text-3xl font-serif pb-1 py-1 text-center">Analizar</h2>
            <p class="text-white text-lg font-sans pb-1 py-1">Identificar los riesgos y oportunidades que ofrecen las tendencias mundiales y el sector analizado; priorizar el principal riesgo y la principal oportunidad.</p>
        </div>
        <div class="box-content shadow-xl">
            <h2 class="text-white uppercase text-3xl font-serif pb-1 py-1 text-center">Integrar</h2>
            <p class="text-white text-lg font-sans pb-1 py-1">Aplicar las cuatro herramientas de estrategia sugeridas para tener una visión integral del negocio.</p>
        </div>
    </div>
</body>