<div class="x min-h-screen p-8 bg-gray-50 flex items-center">
  <div class="w-full max-w-3xl bg-white rounded-lg shadow-lg p-6">
    <h1 class="text-3xl font-semibold text-center text-blue-600 mb-6">
      Configuración del Perfil
    </h1>

    <div class="grid grid-cols-1 sm:grid-cols-2 gap-24">
      <!-- Sección de Actualización de Contraseña -->
      <div
        class="bg-gradient-to-r from-blue-400 to-indigo-500 p-4 rounded-lg shadow-md text-white"
      >
        <h2 class="text-xl font-bold mb-4">Actualizar Contraseña</h2>
        <button
          mat-raised-button
          color="accent"
          (click)="openPasswordDialog()"
          class="w-full text-bla bg-blue-600 hover:bg-blue-700 py-2 px-4 rounded"
        >
          Cambiar Contraseña
        </button>
      </div>

      <!-- Sección de Empresas Registradas -->
      <div
        class="bg-gradient-to-r from-green-400 to-teal-500 p-4 rounded-lg shadow-md text-white main-form"
      >
        <h2 class="text-xl font-bold mb-4">Empresas Registradas</h2>
        <button
          mat-raised-button
          color="primary"
          (click)="openCompaniesDialog()"
          class="w-full text-black bg-green-600 hover:bg-green-700 py-2 px-4 rounded"
        >
          Gestionar Empresas
        </button>
      </div>
      <app-custom-dialog
        #passwordDialog
        [title]="'Cambiar Contraseña'"
        [visible]="false"
      >
      
        <form (ngSubmit)="changePassword()">
          <mat-form-field appearance="fill" class="w-full mb-4">
            <input class="label"
              matInput
              [(ngModel)]="passwordData.currentPassword"
              name="currentPassword"
              type="password"
              required
              placeholder="Contraseña actual"
            />
          </mat-form-field>
          <mat-form-field appearance="fill" class="w-full mb-4">
            <input class="label"
              matInput
              [(ngModel)]="passwordData.newPassword"
              name="newPassword"
              type="password"
              required
              placeholder="Nueva contraseña"
            />
          </mat-form-field>
          <mat-form-field appearance="fill" class="w-full mb-4">
            <input class="label"
              matInput
              [(ngModel)]="passwordData.confirmPassword"
              name="confirmPassword"
              type="password"
              required
              placeholder="Confirmar nueva contraseña"
            >
          </mat-form-field>
          <div class="flex justify-end">
            <button
              mat-raised-button
              color="primary"
              type="submit"
              class="text-black bg-blue-600 hover:bg-blue-700 py-2 px-4 rounded"
            >
              Guardar Cambios
            </button>
          </div>
        </form>
      </app-custom-dialog>

      <!-- Diálogo para gestión de empresas -->
      <app-custom-dialog
        #companiesDialog
        [title]="'Gestionar Empresas Registradas'"
        [visible]="false"
      >
        <div
          *ngFor="let company of companies(); let i = index"
          class="flex items-center space-x-2 mb-4 text-black"
        >
          <mat-form-field class="flex-1">
            <!-- Cambia a flex-1 para que el input ocupe el espacio disponible -->
            <input class="label"
              matInput
              [(ngModel)]="company.name"
              name="companyName{{ i }}"
              placeholder="Nombre de la empresa"
              required
            />
          </mat-form-field>
          <button mat-icon-button color="warn" (click)="removeCompany(i)">
            <mat-icon class="w-full">
              <i class="fa-solid fa-trash" style="color: #ff0000;"></i></mat-icon>
          </button>
        </div>
        <div class="flex justify-between mt-4">
          <button
            mat-raised-button
            color="primary"
            (click)="addCompany()"
            class="text-black bg-green-600 hover:bg-green-700 py-2 px-4 rounded"
          >
            Agregar Empresa
          </button>
          <button
            mat-raised-button
            color="accent"
            (click)="updateCompanies()"
            class="text-black bg-blue-600 hover:bg-blue-700 py-2 px-4 rounded"
          >
            Guardar Cambios
          </button>
        </div>
      </app-custom-dialog>
    </div>
  </div>
</div>
