/* GLOBALES */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

html {
        margin: 0;
        padding: 0;

}

/* Estilos para la barra de navegación */
nav {
    background-color: var(--negro);
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 2.5rem;
    height: 5rem;
    width: 100%;
    position: sticky;
    z-index: 1000;
    top: 0;

    box-shadow: none;
    transition: box-shadow 0.3s ease, background-color 0.3s ease;
}

nav.scrolled {
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    background-color: #110d29; /* O cualquier otro color */
  }

  nav.scrolled2 {
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    background-color: #271e5a; /* O cualquier otro color */
  }

  nav.scrolled3 {
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    background-color: #1d1836; /* O cualquier otro color */
  }

  nav.scrolled4 {
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    background-color: var(--negro); /* O cualquier otro color */
  }

nav ul {
    display: flex;
    /* justify-content: space-around; */
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li:not(.nav-item-svg) {
    margin-left: 5px;
    padding-right: 1rem;
}

nav ul li {
    position: relative; /* Necesario para el dropdown */
}

.nav-subtitle {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    cursor: pointer;
    font-weight: bold;
    position: relative;
    padding-bottom: 5px;
    transition: color 0.3s ease;
}

.nav-subtitle:hover {
    color: var(--morado);
}

.nav-list {
    justify-content: space-around;
    align-items: center;
}


#last-item {
    padding-right: 1rem;
}

.contenedor-lista {
    display: flex;
    padding-right: 2rem;
}

.contenedor-lista:hover .icon-tabler,
.contenedor-lista:hover .nav-subtitle {
    stroke: var(--morado); /* Cambia el color de la línea del ícono */
    color: var(--morado); /* Cambia el color del texto del label */
    transition: color 0.3s ease, stroke 0.29s ease;
}

.icon-tabler {
    min-width: 35px;
    transition: transform 0.3s ease, stroke 0.3s ease;
}

.contenedor-lista:hover .icon-tabler {
    transform: scale(1.1) rotate(10deg); /* O cualquier otra animación */
    stroke: var(--morado);
  }

.contenedor-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
    height: auto;
}

.logo {
    width: 128px;
    height: auto;
    padding-left: 2rem;
    transition: transform 0.3s ease;
    min-width: 127px;
}

.logo:hover {
    transform: scale(1.15);
}

.contenedor-titulo {
    /* padding: 0 2rem; */
    padding: 0 2.5rem 0 20%;
}

.titulo {
    font-size: 2rem;
    font-weight: bold;
    margin: 0 auto;
    text-transform: uppercase;
}

svg {
    width: 2rem;
}

.nav-subtitle:after {
    content: "";
    padding-top: 0;
    width: 0;
    height: 4px;
    background-color: var(--morado);
    position: absolute;
    bottom: 0;
    right: 50%;
    transition: 0.3s;
}

.nav-subtitle:hover:after:not(#last-item) {
    width: 100%;
    right: 0;
}

/* Estilos específicos para el menú desplegable */
.dropdown-menu {
    display: block;
    font-weight: normal;
    position: absolute;
    background-color: var(--morado);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    top: 110%;
    right: 1%;
    min-width: 135px;
    padding: 10px 0;
    opacity: 0;
    visibility: hidden;
    transform: translateY(-10px);
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.dropdown-item {
    font-size: 16px;
    color: var(--negro);
    background-color: var(--morado);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-weight: 550;
    transition: color 0.3s ease;
    transition: background-color 0.3s ease;
}

.dropdown-item:hover {
    background-color: var(--indigo);
    font-weight: bold;
    color: #fff;
}

/* Mostrar el menú desplegable con animación al pasar el ratón */
.nav-item:hover .dropdown-menu {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
    transition: opacity 0.3s ease, transform 0.3s ease;
}

/* Contenedor del SVG y el tooltip */
.tooltip-container {
    position: relative;
}


/* Ocultar el tooltip por defecto */
.tooltip-text {
    visibility: hidden;
    width: 80px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: -35px;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.3s;
    font-size: 12px;
}

/* Mostrar el tooltip al pasar el mouse sobre el contenedor */
.tooltip-container:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
}

/* app.component.css */
.scroll-to-top {
    position: fixed;
    top: 105px;
    right: 30px;
    background-color: #fff;
    color: var(--indigo);
    border: none;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
    font-size: 20px;
    display: none;
    z-index: 1001;
}

.scroll-to-top:hover {
    background-color: #555;
}

.scroll-to-top-icon {
    width: 1.5rem;
}

.nav-link-inactive {
    pointer-events: none;
    color: gray;
    cursor: default;
  }
  
  .nav-subtitle-inactive {
    color: gray;
    text-decoration: none;
    cursor: default
  }
  
  .icon {
    color: inherit;
  }



/* Media Queries */
    @media (min-width: 601px) {
        .dropdown-menu-svg {
            display: none;
        }

        .contenedor-lista {
            align-items: center;
            justify-content: center;
        }
    }

    @media (max-width: 912px) {
        #last-item {
            padding: 0 0;
        }
    }

    @media (min-width: 800px) {

        nav {
            padding: 0;
        }

        .contenedor-titulo {
            padding: 0 40px 0 60px;
        }

       .contenedor-lista {
        display: flex;
        padding-right: .5rem;
       }


    }

    @media (max-width: 768px) {
        nav {
            display: flex;
            height: auto;
            padding: 0;
        }
        .contenedor-titulo {
            padding: 0 40px 0 60px;
        }

        .contenedor-lista {
            display: flex;
            justify-content: flex-end;
            padding: 8px 16px 0 0;
        }

        nav ul {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            min-width: 0;
            padding-right: 1rem;
            padding-bottom: 5px;
        }

    }

    @media (max-width: 600px) {

        .contenedor-titulo {
            padding: 0 0.5rem;
        }

        .nav-item {
            display: none;
        }

        nav ul {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            min-width: 0px;
        }

        .titulo {
            font-size: 1.7rem;
        }

        .contenedor-lista {
            display: flex;
            justify-content: space-around;
            align-items: center;
            padding-right: .5rem;
        }

        .dropdown-menu-svg {
            display: block;
            font-weight: normal;
            position: absolute;
            background-color: var(--morado);
            box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
            z-index: 1;
            top: 100%;
            right: 1%;
            min-width: 100px;
            padding: 10px 0;
            opacity: 0;
            visibility: hidden;
            transform: translateY(-10px);
            transition: opacity 0.3s ease, transform 0.3s ease;
        }
        
        .dropdown-item-svg {
            display: flex;
            font-size: 14px;
            color: var(--negro);
            background-color: var(--morado);
            padding: 8px 2px;
            text-decoration: none;
            /* display: block; */
            font-weight: 550;
            justify-content: center;
            align-items: center;
            transition: color 0.3s ease;
            transition: background-color 0.3s ease;
        }
        
        .dropdown-item-svg:hover {
            background-color: var(--indigo);
            font-weight: bold;
            color: #fff;
        }
        
        /* Mostrar el menú desplegable con animación al pasar el ratón */
        .nav-item-svg:hover .dropdown-menu-svg {
            opacity: 1;
            visibility: visible;
            transform: translateY(0);
            transition: opacity 0.3s ease, transform 0.3s ease;
        }
    }

    @media (max-width: 505px) {
        .contenedor-logo {
            display: flex;
            align-items: center;
            justify-content: center;
            width: auto;
            height: auto;
        }
        
        .logo {
            width: 86px;
            height: auto;
            padding-left: .5rem;
            transition: transform 0.2s ease;
            min-width: 64px;
        }
        
        .logo:hover {
            transform: scale(1.15);
        }

        .icon-tabler {
            width: 32px;
            height: 32px;
        }

        .contenedor-lista {
            padding-right: 2%;
        }

        .titulo {
            font-size: 1.5rem;
        }
    }

    @media (max-width: 410px ) {
        .titulo {
            font-size: 1.25rem;
        }
    }

    @media (max-width: 385px) {
        nav ul {
            display: flex;
            flex-direction: row;
        }
        .titulo {
            font-size: 1.1rem;
        }
    }

