<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />
    <title>EstraPymes</title>
  </head>
  <body>
    <div class="wrapper">
      <nav class="nav">
        <div class="nav-somos">
          <a (click)="navigateToHome()"><p>Quienes somos</p></a>
        </div>
        <div class="nav-menu" id="navMenu">
          <ul>
            <li>
              <a
                href="https://www.instagram.com/nodo.eafit/"
                class="link"
                target="_blank"
                ><i class="bx bxl-instagram"></i
              ></a>
            </li>
            <li>
              <a href="https://web.telegram.org/a/" class="link" target="_blank"
                ><i class="bx bxl-telegram"></i
              ></a>
            </li>
            <li>
              <a href="https://web.whatsapp.com/" class="link" target="_blank"
                ><i class="bx bxl-whatsapp"></i
              ></a>
            </li>
          </ul>
        </div>
        <div class="nav-boton">
          <button class="btn" id="registerBtn" (click)="register()">Registrarse</button>
        </div>        
      </nav>
      <div class="form-box">
        <div class="login-container">
          <header>Acceso</header>
          <form #loginForm="ngForm" (ngSubmit)="login(loginForm)">
            <div class="input-box">
              <input
                type="text"
                class="input-field"
                placeholder="Nombre de usuario"
                [(ngModel)]="username"
                name="username"
                required
              />
              <i class="bx bx-user"></i>
            </div>
            <div class="input-box">
              <input
                type="password"
                class="input-field"
                placeholder="Contraseña"
                [(ngModel)]="password"
                name="password"
                required
              />
              <i class="bx bx-lock-alt"></i>
            </div>
            <div class="input-box">
              <button type="submit" class="submit">Iniciar sesión</button>
            </div>
          </form>
          <div class="top">
            <span>¿No tienes una cuenta? <a (click)="navigateToRegister()">Registrarse</a></span>
          </div>
        </div>
      </div>
      