<div class="flex min-h-screen">
  <div class="m-auto w-full max-w-6xl p-8">
    <div
      class="bg-white bg-opacity-90 rounded-3xl shadow-2xl overflow-hidden flex backdrop-blur-md transition-transform duration-500 hover:scale-105"
    >
      <!-- Left side with image and text -->
      <div
        class="lado-derecho w-3/5 bg-cover bg-center p-8 text-white flex flex-col justify-center rounded-l-3xl"
      >
        <h2 class="text-3xl font-bold mb-4 text-white drop-shadow-lg">
          Hablemos
        </h2>
        <p class="mb-4 text-white font-bold drop-shadow-lg">
          Si tienes alguna duda, por favor diligencia el siguiente formulario y
          nos pondremos en contacto contigo lo antes posible.
        </p>
      </div>
      <!-- Right side with form -->
      <div class="w-3/5 p-8 bg-white rounded-r-3xl">
        <h2 class="text-3xl font-bold mb-6 text-indigo-800">
          Envíanos un mensaje
        </h2>
        <form (ngSubmit)="onSubmit()" #contactForm="">
          <div class="mb-4">
            <label
              class="block text-gray-700 text-sm font-semibold mb-2"
              for="name"
              >Nombre</label
            >
            <input
              class="shadow appearance-none border rounded-lg w-full py-3 px-4 text-gray-700 leading-tight focus:outline-none focus:shadow-outline transition-transform duration-200 focus:scale-105"
              id="name"
              name="name"
              type="text"
              placeholder="Su nombre completo"
              ngModel
              required
            />
          </div>
          <div class="mb-4">
            <label
              class="block text-gray-700 text-sm font-semibold mb-2"
              for="email"
              >Correo</label
            >
            <input
              class="shadow appearance-none border rounded-lg w-full py-3 px-4 text-gray-700 leading-tight focus:outline-none focus:shadow-outline transition-transform duration-200 focus:scale-105"
              id="email"
              name="email"
              type="email"
              placeholder="Su correo electrónico"
              ngModel
              required
            />
          </div>
          <div class="mb-4">
            <label
              class="block text-gray-700 text-sm font-semibold mb-2"
              for="subject"
              >Asunto</label
            >
            <select
              class="shadow appearance-none border rounded-lg w-full py-3 px-4 text-gray-700 leading-tight focus:outline-none focus:shadow-outline transition-transform duration-200 focus:scale-105"
              id="subject"
              name="subject"
              ngModel
              required
            >
              <option value="" disabled selected>Selecciona una opción</option>
              <option value="como_llena">
                Asesoria para diligenciar el test
              </option>
              <option value="paso_paso">
                Paso a paso para hacer el registro
              </option>
              <option value="asesoria">Me gustaria recibir orientacion</option>
              <option value="otros">Otros</option>
            </select>
          </div>
          <div class="mb-6">
            <label
              class="block text-gray-700 text-sm font-semibold mb-2"
              for="message"
              >Mensaje</label
            >
            <textarea
              class="shadow appearance-none border rounded-lg w-full py-3 px-4 text-gray-700 leading-tight focus:outline-none focus:shadow-outline transition-transform duration-200 focus:scale-105"
              id="message"
              name="message"
              rows="5"
              placeholder="Escriba el mensaje"
              ngModel
              required
            ></textarea>
          </div>
          <div class="flex items-center justify-between">
            <button
              class="bg-gradient-to-r from-indigo-600 to-purple-600 hover:from-indigo-700 hover:to-purple-700 text-white font-bold py-2 px-4 rounded-lg focus:outline-none focus:shadow-outline transition duration-300 transform hover:scale-105"
              type="submit"
            >
              Enviar mensaje
            </button>
          </div>
        </form>
        <div
          id="loading"
          class="mt-4 text-indigo-600 animate-pulse"
          *ngIf="loading"
        >
          Enviando...
        </div>
        <div
          id="success"
          class="mt-4 text-green-500 transition-opacity duration-500 ease-in-out"
          *ngIf="success"
        >
          ¡Mensaje enviado con éxito!
        </div>
      </div>
    </div>
  </div>
</div>
