<div class="flex min-h-screen" id="contacto">
  <div class="w-full max-w-6xl p-8 m-auto">
    <div
      class="flex overflow-hidden transition-transform duration-500 bg-white shadow-2xl bg-opacity-90 rounded-3xl backdrop-blur-md hover:scale-105">
      <!-- Left side with image and text -->
      <div
      class="justify-between w-1/2 p-8 text-white bg-indigo-900 bg-opacity-80 backdrop-blur-md">
      <h2 class="mb-4 text-3xl font-bold">Hablemos...</h2>
      <p class="mb-4">
        Si tienes alguna duda, llena el siguiente formulario y nos
        pondremos en contacto contigo lo antes posible.
      </p>
      <div class="absolute bottom-0 left-0 flex justify-center w-full">
        <img src="/icono2.png" alt="Ilustración" class="w-[90%] h-auto">
      </div>

      </div>
      <!-- Right side with form -->
      <div class="w-3/5 p-8 bg-white rounded-r-3xl">
        <h2 class="mb-6 text-3xl font-bold text-indigo-800">
          Envíanos un mensaje
        </h2>
        <form (ngSubmit)="onSubmit()" #contactForm="">
          <div class="mb-4">
            <label
              class="block mb-2 text-sm font-semibold text-gray-700"
              for="name"
              >Nombre</label
            >
            <input
              class="w-full px-4 py-3 leading-tight text-gray-700 transition-transform duration-200 border rounded-lg shadow appearance-none focus:outline-none focus:shadow-outline focus:scale-105"
              id="name"
              name="name"
              type="text"
              placeholder="Su nombre completo"
              ngModel
              required
            />
          </div>
          <div class="mb-4">
            <label
              class="block mb-2 text-sm font-semibold text-gray-700"
              for="email"
              >Correo</label
            >
            <input
              class="w-full px-4 py-3 leading-tight text-gray-700 transition-transform duration-200 border rounded-lg shadow appearance-none focus:outline-none focus:shadow-outline focus:scale-105"
              id="email"
              name="email"
              type="email"
              placeholder="Su correo electrónico"
              ngModel
              required
            />
          </div>
          <div class="mb-4">
            <label
              class="block mb-2 text-sm font-semibold text-gray-700"
              for="subject"
              >Asunto</label
            >
            <select
              class="w-full px-4 py-3 leading-tight text-gray-700 transition-transform duration-200 border rounded-lg shadow appearance-none focus:outline-none focus:shadow-outline focus:scale-105"
              id="subject"
              name="subject"
              ngModel
              required
            >
              <option value="" disabled selected>Selecciona una opción</option>
              <option value="como_llena">
                Asesoria para diligenciar el test
              </option>
              <option value="paso_paso">
                Paso a paso para hacer el registro
              </option>
              <option value="asesoria">Me gustaria recibir orientacion</option>
              <option value="otros">Otros</option>
            </select>
          </div>
          <div class="mb-6">
            <label
              class="block mb-2 text-sm font-semibold text-gray-700"
              for="message"
              >Mensaje</label
            >
            <textarea
              class="w-full px-4 py-3 leading-tight text-gray-700 transition-transform duration-200 border rounded-lg shadow appearance-none focus:outline-none focus:shadow-outline focus:scale-105"
              id="message"
              name="message"
              rows="5"
              placeholder="Escriba el mensaje"
              ngModel
              required
            ></textarea>
          </div>
          <div class="flex items-center justify-between">
            <button
              class="px-4 py-2 font-bold text-white transition duration-300 transform rounded-lg bg-gradient-to-r from-indigo-600 to-purple-600 hover:from-indigo-700 hover:to-purple-700 focus:outline-none focus:shadow-outline hover:scale-105"
              type="submit"
            >
              Enviar mensaje
            </button>
          </div>
        </form>
        <div
          id="loading"
          class="mt-4 text-indigo-600 animate-pulse"
          *ngIf="loading"
        >
          Enviando...
        </div>
        <div
          id="success"
          class="mt-4 text-green-500 transition-opacity duration-500 ease-in-out"
          *ngIf="success"
        >
          ¡Mensaje enviado con éxito!
        </div>
      </div>
    </div>
  </div>
</div>