<div class="pt-16 pl-64 bg-white min-h-screen">
  <div class="p-4">
    <div class="chart-container flex justify-between gap-6">
      <div class="chart-wrapper flex-1 flex flex-col justify-center items-center">
        <h3 class="text-xl font-semibold text-gray-800 mb-4">Antes de Estramipyme</h3>
        <canvas #pieCanvasBefore></canvas>
      </div>
      <div class="chart-wrapper flex-1 flex flex-col justify-center items-center">
        <h3 class="text-xl font-semibold text-gray-800 mb-4">Después de Estramipyme</h3>
        <canvas #pieCanvasAfter></canvas>
      </div>
    </div>    
  </div>
</div>
