<!-- component -->
<div id="quienes-somos" class="py-16">  
    <div class="container m-auto px-6 text-gray-500 md:px-12 xl:px-0 ">
        <div class="mx-auto grid gap-6 md:w-3/4 lg:w-full lg:grid-cols-3 ">
            <div class="bg-white rounded-2xl shadow-xl px-8 py-12 sm:px-12 lg:px-8 ">
                <div class="mb-12 space-y-4">
                    <h3 class="text-2xl font-semibold text-purple-900 text-center mx-auto">¿Por qué se creó el libro?</h3>
                    <p class="mb-6">Fortalecer el tejido empresarial colombiano, brindando a las micro y pequeñas empresas herramientas prácticas y accesibles para que puedan enfrentar desafíos y oportunidades del mercado.</p>
                    <a routerLink="/register" class="block font-medium text-purple-600">Conoce más...</a>
                </div>
                <img src="https://tailus.io/sources/blocks/end-image/preview/images/graphic.svg" class="w-2/3 mx-auto -mb-12" alt="illustration" loading="lazy" width="900" height="600">
            </div>
            <div class="bg-white rounded-2xl shadow-xl px-8 py-12 sm:px-12 lg:px-8">
                <div class="mb-12 space-y-4">
                    <h3 class="text-2xl font-semibold text-purple-900 text-center mx-auto" id="info">¿Quiénes somos?</h3>
                    <p class="mb-6">Estramipyme fue desarrollado por un grupo de profesores y estudiantes de la Escuela de Administración de la Universidad EAFIT, enfocados en apoyar el desarrollo empresarial.</p>
                    <a routerLink="/register" class="block font-medium text-purple-600">Conoce más...</a>
                </div>
                <img src="https://tailus.io/sources/blocks/end-image/preview/images/ui-design.svg" class="w-2/3 mx-auto" alt="illustration" loading="lazy" width="900" height="600">
            </div>
            <div class="bg-white rounded-2xl shadow-xl px-8 py-12 sm:px-12 lg:px-8">
                <div class="mb-12 space-y-4">
                    <h3 class="text-2xl font-semibold text-purple-900 text-center mx-auto">¿Qué se quiere lograr?</h3>
                    <p class="mb-6">Capacitar a empresarios y emprendedores con herramientas estratégicas efectivas para fomentar la diferenciación, el crecimiento sostenible y la competitividad en el mercado.​</p>
                    <a routerLink="/register" class="block font-medium text-purple-600">Conoce más...</a>
                </div>
                <img src="https://tailus.io/sources/blocks/end-image/preview/images/ux-design.svg" class="w-2/3 mx-auto " alt="illustration" loading="lazy" width="900" height="600">
            </div>
        </div>
    </div>
</div>