<nav>
  <div class="contenedor-iconos-svg">
      <a routerLink="/home">
        <img class="logo" src="/logo-eafit-letra-blanca-sin-fondo.png" alt="logo">
      </a>
  </div>
  <div>
      <h1 class="titulo">EstraMyPymes</h1>
  </div>
  <div class="contenedor-lista">
      <ul class="nav-list">
          <li class="nav-item"><a class="nav-subtitle" routerLink="/home">Inicio</a></li>
          <li class="nav-item"><a class="nav-subtitle" href="#etapas">Etapas</a></li>
          <li class="nav-item"><a class="nav-subtitle" href="#quienes-somos">Quienes Somos</a></li>
          <li class="nav-item">  <a class="nav-subtitle">Ingreso</a>
            <div class="dropdown-menu">
              <a class="dropdown-item" routerLink="/login">Iniciar sesión</a>
              <a class="dropdown-item" routerLink="/register">Regístrate</a>
            </div>
          </li>
      </ul>
  </div>
</nav>
