<ng-container *ngIf="currentRoute === '/home'; else header2">
  <app-header1></app-header1>
</ng-container>

<ng-template #header2>
  <ng-container *ngIf="currentRoute === '/login'; else header3">
    <app-header2></app-header2>
  </ng-container>
</ng-template>

<ng-template #header3>
  <ng-container *ngIf="currentRoute === '/register'">
    <app-header3></app-header3>
  </ng-container>
</ng-template>

<router-outlet *ngIf="!isAdmin"></router-outlet>

<div *ngIf="isAdmin">
  <app-sidebar class="w-1/5 text-white bg-gray-800"></app-sidebar>
  <div class="flex-1 p-4 bg-gray-100">
    <router-outlet></router-outlet>
  </div>
</div>

<!-- Mostrar el footer solo si isAdmin es falso -->
<app-footer *ngIf="!isAdmin"></app-footer>