<div class="pt-16 pl-64 bg-gray-100 min-h-screen">
  <div class="p-4">
    <h1 class="text-3xl font-bold mb-6">Dashboard</h1>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
      <div
        class="bg-white p-6 rounded-lg shadow-md flex items-center justify-between"
      >
        <div>
          <h2 class="text-lg font-bold mb-2">Estadísticas</h2>
          <p class="text-gray-700">Contenido de las estadísticas.</p>
        </div>
        <i class="fas fa-chart-line text-3xl text-blue-500"></i>
      </div>
      <div
        class="bg-white p-6 rounded-lg shadow-md flex items-center justify-between"
      >
        <div>
          <h2 class="text-lg font-bold mb-2">Usuarios</h2>
          <p class="text-gray-700">Información de usuarios.</p>
        </div>
        <i class="fas fa-users text-3xl text-green-500"></i>
      </div>
      <div
        class="bg-white p-6 rounded-lg shadow-md flex items-center justify-between"
      >
        <div>
          <h2 class="text-lg font-bold mb-2">Configuración</h2>
          <p class="text-gray-700">Opciones de configuración.</p>
        </div>
        <i class="fas fa-cog text-3xl text-yellow-500"></i>
      </div>
    </div>
  </div>
</div>
