:root {
  /* Paleta de colores */
  --negro: #070F2B;
  --indigo: #1B1A55;
  --violeta: #535C91;
  --morado: #9290C3
/*--azul2: #07a2d6;
  --azul3: #046b84;
  --azul4: #044c5c;
  --negro: #1d2e36; */
}
/* You can add global styles to this file, and also import other style files */
body {
  width: 100%;
  height: 75vh;
  color: #ffffff2c;
  background: linear-gradient(180deg, var(--negro), var(--indigo),var(--violeta),var(--morado));
  background-size: 400% 400%;
  position: relative;
  animation: cambiar 10s ease-in-out infinite;
}
.poppins-thin {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
}

@keyframes cambiar {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}




@tailwind base;
@tailwind components;
@tailwind utilities;
