:root {
  --negro: #070F2B;
  --indigo: #1B1A55;
  --violeta: #535C91;
  --morado: #9290C3
}

body {
  color: #ffffff2c;
  background: linear-gradient(180deg, var(--negro), var(--indigo),var(--violeta),var(--morado));
  background-size: 400% 400%;
  position: relative;
  animation: cambiar 10s ease-in-out infinite;
}

.poppins-thin {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
}

@keyframes cambiar {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}
@tailwind base;
@tailwind components;
@tailwind utilities;
