<div class="wrapper">
  <div class="register-container">
    <header>Inscribirse</header>
    <div class="input-box">
      <input type="text" class="input-field" placeholder="Nombre Completo" />
      <i class="bx bx-user"></i>
    </div>
    <div class="input-box">
      <input type="text" class="input-field" placeholder="Tipo de persona" />
      <i class="bx bx-user"></i>
    </div>
    <div class="input-box">
      <input type="text" class="input-field" placeholder="Tipo de empresa" />
      <i class="bx bx-envelope"></i>
    </div>
    <div class="input-box">
      <input type="text" class="input-field" placeholder="Sector" />
      <i class="bx bx-lock-alt"></i>
    </div>
    <div class="input-box">
      <button class="submit">Registro</button>
    </div>
    <div class="top">
      <span>¿Tienes una cuenta? <a routerLink="/login">Acceso</a></span>
    </div>
  </div>
</div>
