* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

/* Contenedor principal centrado */
.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh; /* Ajustado a 100vh para evitar scroll innecesario */
  background: rgba(39, 39, 39, 0.4);
}

/* Estilo del contenedor de registro */
.register-container {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  width: 90%;
  max-width: 400px;
  text-align: center;
  transition: 0.5s ease-in-out;
}

/* Encabezado del formulario */
.register-container header {
  font-size: 24px;
  margin-bottom: 20px;
}

/* Estilo de las cajas de entrada */
.input-box {
  position: relative;
  margin-bottom: 20px;
}

.input-field {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.input-box i {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  color: #aaa;
}

/* Botón de registro */
.submit {
  font-size: 15px;
  font-weight: 500;
  color: black;
  height: 45px;
  width: 100%;
  border: none;
  border-radius: 30px;
  outline: none;
  background: rgba(255, 255, 255, 0.7);
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.submit:hover {
  background: rgba(255, 255, 255, 0.5);
  box-shadow: 1px 5px 7px 1px rgba(0, 0, 0, 0.2);
}

/* Enlace para iniciar sesión */
.top {
  margin-top: 20px;
}

.top a {
  color: #007bff;
  text-decoration: none;
}

.top a:hover {
  text-decoration: underline;
}

/* Estilos para pantallas pequeñas */
@media only screen and (max-width: 540px) {
  .wrapper {
    min-height: 100vh;
  }
  .register-container {
    width: 100%;
    padding: 0 20px;
  }
}
